body {
    background-color: lightcyan;
}

header {
    display: table-row;
    color: rgb(203, 117, 200);
    background-color: black;
    width: 100vh;
    text-align: justify;
}
header > * {display: table-cell;}
ul {display: table-row;}
li {display: table-cell;
    padding: 0 10px;}